<polymer-element name="markdown-editor" layout="" vertical="" attributes="markdown">
  <!-- outermost template defines the element's shadow DOM -->
  <template>
    <style>
  #wrapper {
    height:100%;
    width:100%;
  }
  markdown-pane{
    overflow-y:auto;
    border-right:solid 1px #e0e0e0;
  }
  </style>
  <div id="wrapper" layout horizontal flex>
    <!-- <textarea id="markdown" value="{{markdown}}" flex></textarea> -->
    <markdown-pane flex markdown="{{markdown}}"></markdown-pane>
    <preview-pane flex markdown="{{markdown}}"></preview-pane>
    </div>
  </template>
  <script>
      Polymer('markdown-editor', {
      markdown:""
    });
</script>
</polymer-element>