<polymer-element name="markdown-pane" layout vertical attributes="markdown">
  <!-- outermost template defines the element's shadow DOM -->
  <template>
    <style>
  #markdownWrapper{
    padding:15px;
    margin:0;
    overflow-x:hidden;
    overflow-y:auto;
    position:relative;
  }
  #markdown {
    outline:none;
    min-height:300px !important;
    min-width:300px !important;
    border:none;
    resize:none;  
    overflow:hidden;
    padding:0;
    font-family:"Open Sans";
    font-size:16px;
    color:#212121;
  }
  </style>
    <div id="markdownWrapper" flex>
      <textarea id="markdown"value="{{markdown}}"></textarea>
    </div>
  </template>
  <script>
    Polymer('markdown-pane', {
      markdown:"",
      ready:function(){
        editor = document.querySelector("#markdown");
        autosize(editor);
        console.log("autosizeing");
      }
    });
</script>
</polymer-element>