<polymer-element name="preview-pane" layout vertical attributes="markdown">
  <!-- outermost template defines the element's shadow DOM -->
  <template>
    <style>
  #previewWrapper{
    padding:0;
    margin:0;
    overflow-x:hidden;
    overflow-y:auto;
  }
  #preview {
    padding: 0 15px 15px;
    margin:0;
    overflow:hidden;
    font-family:"Open Sans";
    font-size:16px;
    color:#212121;
    cursor:pointer;
  }
  </style>
    <div id="previewWrapper" flex layout vertical>
      <div id="preview" flex></div>
    </div>
    <!--<textarea hidden id="copy" value="{{convert(markdown)}}"></textarea>-->
  </template>
  <script>
      Polymer('preview-pane', {
      eventDelegates: {
        click: "onClick"
      },
      markdown:"",
      convert:function(x){
        markdown.toHTML(x);
      },
      onClick: function(){
        var copyFrom = $('<textarea/>');
        copyFrom.text(markdown.toHTML(this.markdown));
        $('body').append(copyFrom);
        copyFrom.select();
        document.execCommand('copy');
        copyFrom.remove();
        document.querySelector("#toast").show();
      },
      markdownChanged:function(x,y){
        this.injectBoundHTML(markdown.toHTML(this.markdown),this.$.preview);
      }
    });
</script>
</polymer-element>