<polymer-element name="preview-pane" layout vertical attributes="markdown previewHeight previewPosition">
  <!-- outermost template defines the element's shadow DOM -->
  <template>
    <style>
  #preview {
    padding:0 15px 15px;
    font-family:"Open Sans";
    margin:0;
    font-size:16px;
    color:#212121;
    cursor:pointer;
    overflow-y:auto;
    /*background-color:black;*/
    /*color:white;*/
  }
  </style>
    <div id="preview" flex=""></div>
    <!--<textarea hidden id="copy" value="{{convert(markdown)}}"></textarea>-->
  </template>
  <script>
      Polymer('preview-pane', {
      eventDelegates: {
        click: "onClick"
      },
      markdown:"",
      convert:function(x){
        markdown.toHTML(x);
      },
      onClick: function(){
        var copyFrom = $('<textarea/>');
        copyFrom.text(markdown.toHTML(this.markdown));
        $('body').append(copyFrom);
        copyFrom.select();
        document.execCommand('copy');
        copyFrom.remove();
        document.querySelector("#toast").show();
      },
      markdownChanged:function(x,y){
        this.injectBoundHTML(markdown.toHTML(this.markdown),this.$.preview);
        this.previewHeight = this.$.preview.scrollHeight;
      },
      previewPositionChanged:function(){
        console.log("scrolling preview");
        $(this.$.preview).scrollTop(this.previewPosition);
      }
    });
</script>
</polymer-element>