<html><head></head><body><polymer-element name="preview-pane" layout="" vertical="" attributes="markdown">
  <!-- outermost template defines the element's shadow DOM -->
  <template>
    <style>
  #preview {
    padding:0 15px 15px;
    font-family:"Open Sans";
    margin:0;
    font-size:16px;
    color:#212121;
    cursor:pointer;
    /*background-color:black;*/
    /*color:white;*/
  }
  </style>
    <div id="preview" flex=""></div>
    <!--<textarea hidden id="copy" value="{{convert(markdown)}}"></textarea>-->
  </template>
  <script src="preview-pane.js"></script>
</polymer-element></body></html>